html {
  margin: 0;
  padding: 0;
  background: #fefefe;
}

* {
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: Source Code Pro, Menlo, Consolas, monospace;
}

p {
  line-height: 1.5em;
  font-weight: 300;
}

.transition {
  transition-duration: 0.25s;
}

.transition-short {
  transition-duration: 0.15s;
}

.hidden {
  opacity: 0;
}