.class-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.class-page .content {
  position: absolute;
  top: 0;
  left: 8.5em;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.class-page .interface-description {
  margin: 2em 0.5em 1em 0.5em;
}

.class-page .content > p {
  font-size: 1.1em;
  margin: 0 1em 4em 2em;
}

.class-page .content h2 {
  font-size: 2.5em;
  font-weight: 200;
  color: #bbb;
  margin: 0.1em 0.08em;
}

.class-page .content h2.attributes {
  margin-left: 0.14em;
}

.class-page .member-list, .class-page .interface-description {
  max-width: 34em;
}

.class-page .member-list {
  margin: 0 0.5em;
  padding: 0;
}

.class-page .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 8.5em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

.class-page header {
  height: 4.2em;
  position: relative;
}

.class-page header h1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1em;
  padding: 0 0 0 0.5em;
  margin: 0;
  line-height: 1.5em;
  color: #555;
  border-left: 0.2em solid #EED776;
}

.class-page .search-button {
  display: block;
  position: absolute;
  font-size: 1em;
  top: 0.57em;
  right: 0.55em;
  left: 0.55em;
  height: 1.55em;
  line-height: 1.55em;
  color: #777;
  background: #f7f7f7;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.15);
  font-weight: 300;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.class-page .search-button:hover {
  background: #fcfcfc;
  box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.2);
}

.class-page .search-button:active {
  background: #f5f5f5;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.class-page .search-button:before {
  padding-right: 0.5em;
}

.class-page .sidebar h2 {
  font-size: 1em;
  margin: 0;
  padding-left: 0.5em;
  color: #777;
  font-weight: 400;
  border-left: 0.2em solid;
}

.class-page .sidebar h2.attributes {
  border-left-color: #5577AA;
}

.class-page .sidebar h2.methods {
  border-left-color: #C45E5A;
}

.class-page .sidebar-list-container {
  position: absolute;
  top: 4.2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 0.7em;
  overflow: auto;
}

.class-page .sidebar-list {
  padding: 0;
  margin: 0.5em 0 1.5em 0;
  overflow: hidden;
  list-style: none;
}

.class-page .sidebar-list li {
  font-size: 0.8em;
  padding: 0.1em 0.57em;
  margin: 0 0.2em;
  color: #777;
}

.class-page .sidebar-list li:hover {
  background-color: #ececec;
  cursor: pointer;
}

.class-page .sidebar-list li:active {
  background-color: #e7e7e7;
}

.class-page .sidebar-list li.attribute {
  border-left-color: #5577AA;
}

.class-page .sidebar-list li.method {
  border-left-color: #C45E5A;
}

.class-page .sidebar-list-container .place-marker {
  position: absolute;
  top: 0;
  right: 0.2em;
  left: 0.2em;
  border: 0.1em solid rgba(255, 255, 255, 0.03);
  background-color: rgba(0, 0, 0, 0.05);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  pointer-events: none;
}


@media screen and (max-width:555px) {

  .class-page .sidebar {
    width: 7em;
  }

  .class-page .content {
    left: 7em;
  }

}

@media screen and (max-width:320px) {

  .class-page .sidebar {
    display: none;
  }

  .class-page .content {
    left: 0;
  }

  .class-page .member-list {
    margin: 0 0.3em;
  }

  .class-page .interface-description {
    margin-left: 0.3em;
  }
}