html {
  margin: 0;
  padding: 0;
  background: linear-gradient(#eaeaea, #efefef);
  width: 100%;
  height: 100%;
}

* {
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

::selection {
  background: rgba(85, 119, 170, 0.4);
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

code {
  font-family: Source Code Pro, Menlo, Consolas, monospace;
}

p {
  line-height: 1.5em;
  font-weight: 300;
}

.transition {
  transition-duration: 0.25s;
}

.transition-short {
  transition-duration: 0.15s;
}

.hidden {
  opacity: 0;
}

.page-stack > div {
  background: #eee;
  background: linear-gradient(#eaeaea, #efefef);
}

.ellipsize {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-ruby-message {
  position: absolute;
  width: 27em;
  height: 8.8em;
  top: 50%;
  left: 50%;
  margin-top: -4.4em;
  margin-left: -14.5em;
  padding: 0 1em;
  font-size: 1.2em;
  background: #fafafa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
}

a {
  color: #5577AA;
  font-weight: 600;
}

a:hover {
  color: #4F8AE3;
}

a:active {
  color: #335D9C;
}

a:visited {
  color: #8F9DB3;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@media screen and (max-width:455px) {

  html {
    font-size: 0.8em;
  }

}