html {
  margin: 0;
  padding: 0;
  background: #fafafa;
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
}

* {
  font-family: Source Sans Pro, Helvetica, sans-serif;
}

::selection {
  background: rgba(85, 119, 170, 0.4);
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

code {
  font-family: Courier, Courier New, monospace;
}

code * {
  font-family: Courier, Courier New, monospace;
}

p {
  line-height: 1.5em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transition {
  transition-duration: 0.25s;
}

.transition-short {
  transition-duration: 0.15s;
}

.hidden {
  opacity: 0;
}

.none {
  display: none;
}

.page-stack > div {
  background: #fafafa;
}

.ellipsize {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-ruby-message, .old-version-message {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 1em;
  font-size: 1.2em;
  background: #fafafa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
  color: #444;
}

.no-ruby-message {
  width: 27em;
  height: 8.8em;
  margin-top: -4.4em;
  margin-left: -14.5em;
}

.old-version-message {
  width: 28em;
  height: 5.1em;
  margin-top: -2.55em;
  margin-left: -15em;
}

.color-border {
  height: 0.7em;
  background: linear-gradient(90deg, 
                              #C45E5A 33%, 
                              #EED776 33%, 
                              #EED776 67%, 
                              #5577AA 67%);
  opacity: 0.9;
}

a {
  color: #5577AA;
  font-weight: 600;
}

a:hover {
  color: #4F8AE3;
}

a:active {
  color: #335D9C;
}

a:visited {
  color: #8F9DB3;
}

a:visited:hover {
  color: #6F7D93;
}

a:visited:active {
  color: #4F5D73;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@media screen and (max-width:555px) {
  html {
    font-size: 0.8em;
  }
}

@media screen and (max-width:455px) {

  .no-ruby-message, .old-version-message {
    top: 0.1em;
    right: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    padding: 0.5em;
    margin: 0;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width:480px) {

  .no-ruby-message, .old-version-message {
    font-size: 1em;
    top: 0.1em;
    right: 0.1em;
    bottom: 0.1em;
    left: 0.1em;
    padding: 0.5em;
    margin: 0;
    height: auto;
    width: auto;
  }
}