li.interface-list-item {
  list-style: none;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-radius: 0.15em;
}

.interface-list-item .interface-header {
  padding: 0.4em 1em 0.2em 1em;
  border-left: 0.5em solid;
}

.interface-list-item .webplatform-link {
  color: #333;
}

.interface-list-item.attribute .interface-header {
  border-left-color: #5577AA;
}

.interface-list-item.method .interface-header {
  border-left-color: #C45E5A;
}

.interface-list-item.class .interface-header {
  border-left-color: #EED776;
}

.interface-list-item.clickable .interface-header:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.interface-list-item.clickable .interface-header:active {
  background-color: #eeeeee;
}

.interface-list-item .interface-header .interface-name {
  display: block;
  font-size: 2.5em;
  font-weight: 300;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interface-list-item .interface-header .owner-class {
  display: none;
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 0.05em;
  color: #999;
  line-height: 1.5em;
}

.interface-list-item.show-owner .interface-header .owner-class {
  display: block;
}

.interface-list-item.show-owner.method .interface-header .owner-class:before {
  content: 'method of ';
}

.interface-list-item.show-owner.attribute .interface-header .owner-class:before {
  content: 'attribute of ';
}

.interface-list-item.show-owner.class .interface-header .owner-class:before {
  content: none;
}

.interface-list-item .interface-content {
  margin: 0;
  padding: 0;
}

.interface-list-item .description {
  display: block;
  font-size: 1em;
  color: #333;
  margin-bottom: 1em;
}

.interface-list-item.class .declaration {
  display: none;
}

.interface-list-item code {
  font-weight: 400;
}

.interface-list-item .declaration {
  font-size: 0.9em;
  padding: 0.5em;
  overflow: hidden;
  background: #f5f5f5;
}

.interface-list-item .method-signature {
  display: block;
  margin: -0.5em;
  padding: 0.5em;
  color: #555;
  /*border-bottom: 0.1em solid #e3e3e3;*/
  font-weight: 700;
}

.interface-list-item.attribute .method-signature {
  border-bottom: none;
}

.interface-list-item .declaration .readonly:before {
  content: 'readonly ';
  color: #aaa;
}

.interface-list-item .declaration .return-type {
  color: #888;
  display: none;
}

.interface-list-item.attribute .declaration .return-type {
  display: inline;
}

.interface-list-item .declaration .return-type:after {
  content: ' ';
}

.interface-list-item .parameter {
  color: #777;
}

.interface-list-item .parameter:after {
  content: ', ';
}

.interface-list-item .parameters span:last-of-type.parameter:after {
  content: none;
}

.interface-list-item .parameters:after {
  content: ')';
}

.interface-list-item .parameters:before {
  content: '(';
}

.interface-list-item ol.method-info {
  display: none;
  font-size: 1em;
  margin: 0.8em 0 0 0;
  padding: 0.3em 0 0 0;
  list-style: none;
}

.interface-list-item.method ol.method-info {
  display: block;
}

.interface-list-item.method ol.method-info:empty {
  display: none;
}

.interface-list-item .method-info li > code {
  font-weight: 400;
  margin: 0;
}

.interface-list-item .method-info li > code span {
  display: inline-block;
  padding-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interface-list-item .method-info .parameter-name {
  color: #555;
}

.interface-list-item .method-info li.return .parameter-name {
  color: #444;
}

.interface-list-item .method-info .parameter-type {
  color: #aaa;
}

.interface-list-item .method-info li {
  margin-bottom: 0.6em;
}

.interface-list-item .method-info li .parameter-description {
  margin: 0.3em 1em;
  color: #555;
}

.interface-list-item .method-info li .parameter-description p {
  font-weight: 400;
}

.interface-list-item .method-info li .parameter-description p code {
  font-weight: 500;
  color: #333;
}

.interface-list-item .method-info li .parameter-description p:last-of-type {
  margin-bottom: 0;
}

.interface-list-item .method-info li .parameter-description p:first-of-type {
  margin-top: 0;
}

.interface-list-item .method-info li:last-of-type {
  margin-bottom: 0;
}

.interface-list-item .method-info li.return {
  padding: 0.5em;
  background: #f3f3f3;
  margin: -0.5em;
}

.interface-list-item .method-info li:first-of-type {
  border-top: none;
}

.interface-list-item .section-header {
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.4em;
  font-weight: 600;
}

.interface-list-item.dim {
  opacity: 0.15;
}