.page-stack {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.page-stack > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 0.4em;
  overflow: auto;
}

.page-stack-transition {
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.page-stack .after-hide-position {
  transform: translateX(-0.5em);
  -webkit-transform: translateX(-0.5em);
  filter: blur(0.3em);
  -webkit-filter: blur(0.3em);
}

.page-stack .before-show-position {
  transform: translateX(0.5em);
  -webkit-transform: translateX(0.5em);
  filter: blur(0.3em);
  -webkit-filter: blur(0.3em);
}

.page-stack .before-show-transparency {
  opacity: 0;
}

.page-stack .after-hide-transparency {
  opacity: 0;
}
