.search-page .site-description {
  font-size: 1.2em;
  margin: 0 2.1em;
  max-width: 26.55em;
}

.search-page .result-list {
  margin: 0 2.6em;
  padding: 0;
  list-style: none;
}

.search-page header {
  border-top: 1px solid #111;
  margin-bottom: 1em;
}

.search-page header .text {
  margin: 0.7em 0 0.2em 0;
  padding: 0 2.6em;
}

.search-page header h1 {
  color: #555;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1em;
}

.search-page header h2 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 1em;
  color: #aaa;
}

.search-page header .border {
  height: 0.7em;
  background: linear-gradient(90deg, 
                              #C45E5A 33%, 
                              #EED776 33%, 
                              #EED776 67%, 
                              #5577AA 67%);
}

.search-page .input-container {
  position: relative;
  height: 3.6em;
  background: #eee;
}

.search-page input {
  position: absolute;
  top: 0.3em;
  right: 1.5em;
  bottom: 0.3em;
  left: 1.5em;
  font-size: 1.7em;
  font-weight: 200;
  max-width: 19.1em;
  padding: 0.1em 0.5em;
  margin: 0;
  color: #444;
  border: none;
  box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.1);
  border-radius: 0.1em;
  background-color: #fefefe;
}

.search-page .display-none {
  display: none;
}

.search-page input:focus {
  outline: none;
}

@media screen and (max-width:455px) {

  .search-page .result-list {
    margin: 0 0.7em;
  }

  .search-page input {
    right: 0.42em;
    left: 0.42em;
  }

  .search-page header .text {
    padding: 0 0.7em;
  }

  .search-page .site-description {
    margin: 0 0.62em;
  }
}

