.search-page .site-description {
  margin: 0 auto;
  max-width: 34em;
  padding: 0 0.7em;
}

.search-page .site-description p {
  font-size: 2em;
  color: #333;
}

.search-page .result-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 34em;
}

.search-page header {
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 34em;
}

.search-page header .text {
  position: relative;
  margin: 0.8em 0 0.5em 0;
  padding: 0 0.3em;
}

.search-page header h1 {
  color: #555;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  line-height: 1em;
}

.search-page header h2 {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 1em;
  color: #aaa;
}

.search-page header .text .info-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1.5em;
  width: 2em;
  text-align: right;
  padding-right: 0.2em;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0.05em 0.1em #999;
  text-decoration: none;
  transition-duration: 0.1s;
}

.search-page header .text .info-button:hover {
  text-shadow: 0 0.05em 0.2em #888;
  cursor: pointer;
}

.search-page header .text .info-button:active {
  color: #f7f7f7;
  text-shadow: 0 0.05em 0.1em #888;
}

.search-page .input-row {
  height: 3.6em;
}

.search-page .input-container {
  position: relative;
  top: 0.45em;
  max-width: 34em;
  height: 2.7em;
  margin: 0 auto;
  padding: 0 0.4em;
}

.search-page input {
  position: absolute;
  top: 0;
  right: 0.1em;
  bottom: 0;
  left: 0.1em;
  font-size: 1.7em;
  font-weight: 200;
  padding: 0.1em 0.5em;
  color: #444;
  border: none;
  box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.search-page .display-none {
  display: none;
}

.search-page input:focus {
  outline: none;
}

@media screen and (max-width:555px) {
}
