.search-page .site-description {
  font-size: 1.2em;
  margin: 0 2.1em;
  max-width: 26.55em;
}

.search-page .result-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 34em;
}

.search-page header {
  margin-bottom: 1em;
}

.search-page header .text {
  max-width: 34em;
  margin: 0.8em auto 0.5em auto;
  padding: 0 0.3em;
}

.search-page header h1 {
  color: #555;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 1em;
}

.search-page header h2 {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 1em;
  color: #aaa;
}

.search-page header .border {
  height: 0.7em;
  background: linear-gradient(90deg, 
                              #C45E5A 33%, 
                              #EED776 33%, 
                              #EED776 67%, 
                              #5577AA 67%);
}

.search-page .input-row {
  height: 3.6em;
  background: #eee;
}

.search-page .input-container {
  position: relative;
  top: 0.45em;
  max-width: 34em;
  height: 2.7em;
  margin: 0 auto;
  padding: 0 0.4em;
}

.search-page input {
  position: absolute;
  top: 0;
  right: 0.1em;
  bottom: 0;
  left: 0.1em;
  font-size: 1.7em;
  font-weight: 200;
  padding: 0.1em 0.5em;
  color: #444;
  border: none;
  box-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
}

.search-page .display-none {
  display: none;
}

.search-page input:focus {
  outline: none;
}

@media screen and (max-width:555px) {

  .search-page header .text {
    padding: 0 0.7em;
  }

  .search-page .site-description {
    margin: 0 0.62em;
  }
}
