.class-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.class-page .container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

p code {
  font-weight: 400;
}

.class-page .content {
  position: absolute;
  top: 0;
  left: 12em;
  right: 0;
  bottom: 0;
  overflow: auto;
  font-weight: 300;
}

.class-page .interface-description {
  margin: 1em;
}

.class-page .content > p {
  font-size: 1.1em;
  margin: 0 1em 4em 2em;
}

.class-page .member-list {
  margin: 1em;
  padding: 0;
}

.class-page .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: inset -0.5em 0 1em #111;
  border-right: 0.2em solid #555;
}

.class-page header {
  height: 3em;
}

.class-page header h1 {
  font-size: 1em;
  padding: 0 0 0 0.5em;
  margin: 0;
  line-height: 1.5em;
  color: #eee;
  text-shadow: 1px 1px 0.6em #000;
  border-left: 0.6em solid #EED776;
}

.class-page .search-button {
  margin: 0.2em;
  color: #ccc;
  background: linear-gradient(0, #4e4e4e, #505050);
  box-shadow: 0.05em 0.05em 0.1em #000;
  text-shadow: 0.05em 0.05em 0.1em #333;
  border: none;
  border-radius: 0.1em;
  cursor: pointer;
}

.class-page .search-button:hover {
  color: #eee;
  background: linear-gradient(0, #525252, #555555);
  box-shadow: 0.05em 0.05em 0.25em #000;
  text-shadow: 0.05em 0.05em 0.1em #111;
}

.class-page .search-button:active {
  color: #ccc;
  background: linear-gradient(0, #494949, #4b4b4b);
  box-shadow: 0.05em 0.05em 0.05em #111;
  text-shadow: 0.05em 0.05em 0.05em #222;
}

.class-page .search-button:before {
  padding-right: 0.5em;
}

.class-page .sidebar h2 {
  font-size: 1em;
  margin: 0;
  padding-left: 0.5em;
  color: #CCC;
  font-weight: 600;
  border-left: 0.6em solid;
}

.class-page .sidebar h2.attributes {
  border-left-color: #5577AA;
}

.class-page .sidebar h2.methods {
  border-left-color: #C45E5A;
}

.class-page .sidebar-list-container {
  position: absolute;
  top: 3em;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 0.7em;
  overflow: auto;
}

.class-page .sidebar-list {
  padding: 0;
  margin: 0.5em 0 1.5em 0;
  overflow: hidden;
  list-style: none;
}

.class-page .sidebar-list li {
  font-size: 0.8em;
  padding: 0.1em 1.285em;
  color: #bbb;
  font-family: Source Code Pro, monospace;
}

.class-page .sidebar-list li:hover {
  background-color: #444;
  cursor: pointer;
}

.class-page .sidebar-list li:active {
  background-color: #f0f0f0;
  color: #666;
}

.class-page .sidebar-list li.attribute {
  border-left-color: #5577AA;
}

.class-page .sidebar-list li.method {
  border-left-color: #C45E5A;
}