.class-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.class-page .container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.class-page .content {
  position: absolute;
  top: 0;
  left: 12em;
  right: 0;
  bottom: 0;
  overflow: auto;
  font-weight: 300;
  border-left: 0.1em solid #777;
  box-shadow: -0.5em 0 1em rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.class-page .interface-description {
  margin: 1em;
  margin-top: 2em;
}

.class-page .content > p {
  font-size: 1.1em;
  margin: 0 1em 4em 2em;
}

.class-page .content h2 {
  font-size: 2.5em;
  font-weight: 200;
  color: #bbb;
  margin: 0.1em 0.315em;
  text-shadow: 0 1px 0 #fafafa;
}

.class-page .content h2.attributes {
  margin-left: 0.41em;
}

.class-page .member-list {
  margin: 0 1em;
  padding: 0;
}

.class-page .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.class-page header {
  height: 4.2em;
  position: relative;
}

.class-page header h1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1em;
  padding: 0 0 0 0.5em;
  margin: 0;
  line-height: 1.5em;
  color: #eee;
  text-shadow: 0.1em 0.1em 0.1em #333;
  box-shadow: 0 0.15em 0em #2D2D2D,
              0 0.15em 0.5em #2D2D2D;
  border-left: 0.6em solid #EED776;
  background: linear-gradient(0, #5a5a5a, #676767);
  z-index: 1000;
}

.class-page .search-button {
  position: absolute;
  font-size: 1em;
  top: 0.57em;
  right: 0.55em;
  left: 0.55em;
  height: 1.55em;
  color: #555;
  background: linear-gradient(0, #aaa, #bbb);
  box-shadow: 0.1em 0.1em 0.3em #111;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  font-weight: 300;
  border: none;
  border-radius: 0.1em;
  cursor: pointer;
}

.class-page .search-button:hover {
  background: linear-gradient(0, #bbb, #ddd);
  box-shadow: 0.1em 0.1em 0.5em #000;
}

.class-page .search-button:active {
  background: linear-gradient(0, #9f9f9f, #999);
  box-shadow: 0.1em 0.1em 0.1em #222;
}

.class-page .search-button:before {
  padding-right: 0.5em;
}

.class-page .sidebar h2 {
  font-size: 1em;
  margin: 0;
  padding-left: 0.5em;
  color: #CCC;
  font-weight: 600;
  border-left: 0.6em solid;
}

.class-page .sidebar h2.attributes {
  border-left-color: #5577AA;
}

.class-page .sidebar h2.methods {
  border-left-color: #C45E5A;
}

.class-page .sidebar-list-container {
  position: absolute;
  top: 4.2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 0.7em;
  overflow: auto;
}

.class-page .sidebar-list {
  padding: 0;
  margin: 0.5em 0 1.5em 0;
  overflow: hidden;
  list-style: none;
}

.class-page .sidebar-list li {
  font-size: 0.8em;
  padding: 0.1em 1.13em;
  margin: 0 0.2em;
  border-radius: 0.3em;
  color: #bbb;
  font-family: Source Code Pro, monospace;
}

.class-page .sidebar-list li:hover {
  background-color: #444444;
  box-shadow: 0.08em 0.08em 0.4em #222;
  cursor: pointer;
}

.class-page .sidebar-list li:active {
  background-color: #404040;
  box-shadow: 0.08em 0.08em 0.05em #2f2f2f;
  color: #aaa;
}

.class-page .sidebar-list li.attribute {
  border-left-color: #5577AA;
}

.class-page .sidebar-list li.method {
  border-left-color: #C45E5A;
}

.class-page .sidebar-list-container .place-marker {
  position: absolute;
  top: 0;
  right: 0.2em;
  left: 0.2em;
  border-radius: 0.3em;
  border: 0.1em solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.2s;
  pointer-events: none;
}


@media screen and (max-width:455px) {

  .class-page .sidebar {
    width: 7em;
  }

  .class-page .content {
    left: 7em;
  }

}