li.interface-list-item {
  list-style: none;
  padding-bottom: 1em;
  margin-bottom: 2em;
  box-shadow: 1px 1px 0.3em rgba(0, 0, 0, 0.5);
  background-color: #fefefe;
  border-radius: 0.15em;
  overflow: hidden;
}

.interface-list-item .interface-header {
  padding: 0.4em 1.57em 0.2em 1.57em;
  margin: 0;
  border-left: 1em solid;
  background: linear-gradient(0, #F0F0F0, #FAFAFA);
}

.interface-list-item.attribute .interface-header {
  border-left-color: #5577AA;
}

.interface-list-item.method .interface-header {
  border-left-color: #C45E5A;
}

.interface-list-item.class .interface-header {
  border-left-color: #EED776;
}

.interface-list-item.clickable .interface-header:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.interface-list-item.clickable .interface-header:hover .interface-name {
  color: #111;
}

.interface-list-item.clickable .interface-header:active {
  background-color: #e0e0e0;
}

.interface-list-item .interface-header .interface-name {
  display: block;
  clear: left;
  font-size: 1.5em;
  font-weight: 700;
  color: #222;
}

.interface-list-item .interface-header .owner-class {
  display: none;
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 0.05em;
  color: #999;
  line-height: 1.5em;
}

.interface-list-item.show-owner .interface-header .owner-class {
  display: block;
  float: right;
}

.interface-list-item .interface-content {
  margin: 0;
  padding: 0 2.6em;
  border-top: 1px solid #ddd;
}

.interface-list-item .description {
  display: block;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.interface-list-item.class .declaration {
  display: none;
}

.interface-list-item code {
  font-weight: 400;
}

.interface-list-item .declaration > code span {
  font-family: Source Code Pro, monospace;
}

.interface-list-item .declaration {
  font-size: 0.9em;
  padding: 0.5em;
  background-color: #444;
  border-radius: 0.3em;
  box-shadow: inset 0.1em 0.1em 0.5em #333;
  overflow: auto;
}

.interface-list-item .method-signature {
  display: block;
  margin: -0.5em;
  padding: 0.5em;
  color: #fdfdfd;
  text-shadow: 0 1px 0.1em #555;
  box-shadow: 0 0.1em 0.5em #333, inset 0.1em 0.1em 0.2em #3d3d3d;
  border-bottom: 0.1em solid #444;
  background: linear-gradient(0, #6a6a6a, #737373);
  z-index: 1000;
  font-weight: 600;
}

.interface-list-item.attribute .method-signature {
  border-bottom: none;
  box-shadow: 0 0.1em 0.5em #333, inset 0.1em 0.1em 0.3em #333;
}

.interface-list-item .declaration .readonly:before {
  content: 'readonly ';
  color: #bbb;
}

.interface-list-item .declaration .return-type {
  color: #ddd;
  display: none;
}

.interface-list-item.attribute .declaration .return-type {
  display: inline;
}

.interface-list-item .declaration .return-type:after {
  content: ' ';
}

.interface-list-item .parameter {
  color: #f0f0f0;
}

.interface-list-item .parameter:after {
  content: ', ';
}

.interface-list-item .parameters span:last-of-type.parameter:after {
  content: none;
}

.interface-list-item .parameters:after {
  content: ')';
}

.interface-list-item .parameters:before {
  color: #ddd;
  content: '(';
}

.interface-list-item ol.method-info {
  display: none;
  font-size: 1em;
  margin: 0.8em 0 0 0;
  padding: 0.3em 0 0 0;
  list-style: none;
}

.interface-list-item.method ol.method-info {
  display: block;
}

.interface-list-item.method ol.method-info:empty {
  display: none;
}

.interface-list-item .method-info li > code {
  font-weight: 400;
  float: left;
  margin: 0;
}

.interface-list-item .method-info li > code span {
  display: inline-block;
  width: 9em;
  padding-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Source Code Pro, monospace;
}

.interface-list-item .method-info .parameter-name {
  color: #ddd; 
}

.interface-list-item .method-info li.return .parameter-name {
  font-weight: 700;
}

.interface-list-item .method-info .parameter-type {
  color: #999;
}

.interface-list-item .method-info li {
  margin-bottom: 0.6em;
}

.interface-list-item .method-info li .parameter-description {
  padding-left: 19em;
  color: #ddd;
}

.interface-list-item .method-info li .parameter-description p {
  font-weight: 400;
}

.interface-list-item .method-info li .parameter-description p:last-of-type {
  margin-bottom: 0;
}

.interface-list-item .method-info li .parameter-description p:first-of-type {
  margin-top: 0;
}

.interface-list-item .method-info li:last-of-type {
  margin-bottom: 0;
}

.interface-list-item .method-info li.return {
  border-top: 1px solid #3d3d3d;
  padding: 0.5em;
  background: #3a3a3a;
  margin: -0.5em;
  box-shadow: inset 0 0.1em 0.5em #333;
}

.interface-list-item .method-info li:first-of-type {
  border-top: none;
}

.interface-list-item .section-header {
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.4em;
  font-weight: 600;
}

.interface-list-item.dim {
  opacity: 0.15;
}
