li.interface-list-item {
  list-style: none;
  padding-bottom: 1em;
  margin-bottom: 3.5em;
  box-shadow: 1px 1px 0.3em rgba(0, 0, 0, 0.5);
  background-color: #fefefe;
  border-radius: 0.15em;
  overflow: hidden;
}

.interface-list-item .interface-header {
  padding: 0.4em 1.6em 0.2em 1.6em;
  margin-top: 0;
  margin-bottom: 0.5em;
  border-left: 1em solid;
  border-bottom: 1px solid #eee;
  background-color: #f8f8f8;
}

.interface-list-item.attribute .interface-header {
  border-left-color: #5577AA;
}

.interface-list-item.method .interface-header {
  border-left-color: #C45E5A;
}

.interface-list-item.class .interface-header {
  border-left-color: #EED776;
}

.interface-list-item.clickable .interface-header:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.interface-list-item.clickable .interface-header:hover .interface-name {
  color: #111;
}

.interface-list-item.clickable .interface-header:active {
  background-color: #e0e0e0;
}

.interface-list-item .interface-header .interface-name {
  display: block;
  clear: left;
  font-size: 1.5em;
  font-weight: 700;
  color: #222;
}

.interface-list-item .interface-header .owner-class {
  display: none;
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 0.05em;
  color: #999;
  line-height: 1.5em;
}

.interface-list-item.show-owner .interface-header .owner-class {
  display: block;
  float: right;
}

.interface-list-item .interface-content {
  margin: 0 2.6em;
}

.interface-list-item .description {
  display: block;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.interface-list-item.class .declaration {
  display: none;
}

.interface-list-item .declaration > code {
  display: block;
  font-weight: 400;
}

.interface-list-item .declaration > code span {
  font-weight: 400;
  font-family: Source Code Pro, monospace;
}

.interface-list-item .declaration {
  background-color: #f7f7f7;
  padding: 0.5em;
  border-left: 0.2em solid #ddd;
}

.interface-list-item .declaration .return-type {
  color: #777;
}

.interface-list-item .declaration .return-type:after {
  content: ' ';
}

.interface-list-item .parameter:after {
  content: ', ';
}

.interface-list-item .parameters span:last-of-type.parameter:after {
  content: none;
}

.interface-list-item .parameter .type {
  color: #777;
}

.interface-list-item .parameter .type:after {
  content: ' ';
}

.interface-list-item .parameter .name {
  color: #444;
}

.interface-list-item dl.info {
  display: none;
  font-size: 1em;
  margin: 0;
  margin-top: 1.2em;
}

.interface-list-item.method dl.info {
  display: block;
}

.interface-list-item.method dl.info:empty {
  display: none;
}

.interface-list-item .info dt {
  font-weight: 500;
  float: left;
  padding-top: 0.15em;
  margin: 0;
}

.interface-list-item .info dd {
  padding-left: 10em;
  margin-bottom: 0.3em;
}

.interface-list-item .info dd:last-child {
  margin-bottom: 0;
}

.interface-list-item .section-header {
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.4em;
  font-weight: 600;
}

.interface-list-item.glow {
  background-color: #ccc;
}
