.search-page .result-list {
  margin: 0 2.6em;
  padding: 0;
  list-style: none;
}

.search-page header {
  transition-duration: 0.3s;
  background-color: #333;
  padding-top: 0.9em;
  margin-bottom: 1em;
}

.search-page header .text {
  margin-top: 0.9em;
  padding: 0 2.6em;
  text-shadow: 1px 1px 0.3em #000;
}

.search-page header h1 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1em;
  color: #eee;
}

.search-page header h2 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 1em;
  color: #aaa;
}

.search-page header .border {
  height: 0.4em;
  opacity: 1;
  background: linear-gradient(180deg, 
                              #C45E5A 33%, 
                              #EED776 33%, 
                              #EED776 67%, 
                              #5577AA 67%);
  box-shadow: 1px 1px 0.5em black;
}

.search-page .input-container {
  padding: 0.7em 2.6em;
  background-color: #ddd;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
}

.search-page input {
  font-size: 1.7em;
  font-weight: 200;
  width: 100%;
  max-width: 19.1em;
  padding: 0.1em 0.5em;
  margin: 0;
  color: #444;
  border: none;
  box-shadow: 1px 1px 0.1em rgba(0, 0, 0, 0.5);
  border-radius: 0.1em;
  background-color: #fefefe;
}

.search-page .display-none {
  display: none;
}

.search-page input:focus {
  outline: none;
}